.about__wrapper {
  .about_text {
    padding: 20px;
    padding-top: 0;

    p {
      letter-spacing: 0.8px;
      font-size: 16px;
    }
  }
}

@media (min-width:0) and (max-width:446.9px){
  .about_text {
    padding: 0 !important;
  }
}